.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #191a1b;
}

h1 {
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 5px 0 #e2e4e6;
  font-size: 8rem;
  color: #ffffff;
}

p {
  font-size: 2rem;
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
